<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <% if (user) { %>
    <h1>There is a user</h1>
    <% } %>
  <h2>Add your groceries!</h2>
</section>

<%- include('../partials/footer') %>