html {
  box-sizing: border-box
}


*, 
*::before, 
*::after { 
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: gray;
  margin: 0;
  color: #424748;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eceb;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

nav > a:visited {
  color: #f6f6f6;
}

nav > a:hover {
  color: white;
  background-color: #676b6c;
}

nav > a.active {
  color: white;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

.container {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  margin-top: 100px;
}

@media (prefers-color-scheme: dark) {
  body > main {
    background-color: #000000;
    color: white;
  } 
}

@media (prefers-color-scheme: white) {
  body > main {
    background-color: #ffffff;
    color: #000000;
  }
}