table {
  font-size: 20px;
}

table thead tr th {
  padding: 20px;
  font-weight: 900;
  font-size: x-large;
}

table td {
  padding: 20px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #1f84cd;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: black;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: gray;
}

#trash {
  background-color: #1f84cd;
}

#trash:hover {
  background-color: gray;
}